################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/hedera-sdk-dotnet-wrapper/Debug
